

#logs .inside .col-md-12 {
    width: 100%;
}

#logs .inside .well {
    background: lightgray;
}

#logs .inside .well .btn-group {
    display: inline-block;
    padding: 5px 10px;
}

#logs .inside .well .btn-group .btn-warning{
    background-color: orange;
}

#logs .inside .well .btn-group .btn-danger{
    background-color: #ff5656;
}

#logs .inside .well .btn-group .btn-info{
    background-color: lightgreen;
}

#logs .inside .log-info {
    background-color: lightgreen;
}

#logs .inside .alert {
    margin-top: 3px;
    padding: 8px;
    position: relative;
}

#logs .inside .alert > * {
    display: inline-block;
    margin-right: 10px;
}

#logs .inside .log-info{
    background-color:lightgreen;
}

#logs .inside .log-warning{
    background-color:orange;
}

#logs .inside .log-error{
    background-color:#ff5656;
}

#map_options tr th,
#general_options tr th {
    width: 300px;
}

#map_options tr td select,
#map_options tr td text,
#general_options tr td select,
#general_options tr td input {
    width: 90%;
    max-width: 900px;
}

#general_options tr td input[type=checkbox],
#general_options tr td input[type=radio]{
    width: auto;
}

#info_box .action-button {
    width: 100%;
    text-align: center;
}

.gen-now-button {
    background-color: lightgreen !important;
}